[Unit]
Description=Golem
After=network.target

[Service]
User=golem
Group=golem
Environment=PATH=/home/spectr/.local/bin:/home/spectr/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
Environment=YAGNA_API_URL=http://0.0.0.0:7465
Environment=YA_NET_BIND_URL=udp://0.0.0.0:11500
Restart=on-failure
WorkingDirectory=/home/spectr
ExecStart=/home/spectr/.local/bin/golemsp run

# Increase Systemd Service Security Score
LockPersonality=true
NoNewPrivileges=true
PrivateUsers=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
RemoveIPC=true
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_PACKET AF_UNIX
SystemCallArchitectures=native
SystemCallFilter=~@clock @debug @module @mount @raw-io @reboot @privileged @obsolete
CapabilityBoundingSet=~CAP_SYS_ADMIN CAP_SYS_PTRACE CAP_SETUID CAP_SETGID CAP_SETPCAP CAP_NET_ADMIN CAP_CHOWN CAP_FSETID CAP_SETFCAP CAP_FOWNER CAP_IPC_OWNER CAP_DAC_OVERRIDE CAP_DAC_READ_SEARCH CAP_KILL CAP_SYS_BOOT

[Install]
WantedBy=default.target
